.App {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  color: #000000;
  background-color: #f9f9f9;
  padding: 13px;
  font-size: 20px;
  line-height: 1.1;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  
}

select {
  font-size: 20px;
}

h5 {
  color: #4d4d4d;
}

option {
  font-size: 20px;
}

input {
	width: 740px;
  font-size: 20px;
}

textarea {
  font-size: 20px;
  resize: vertical;
	width: 740px;
	height: 150px;
}

hidden-button{
  display: none;
}

.alertMessege {
  color: red;
}

.chatbot__btn {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #0fa515;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}